@import "font.scss";
@import "normalize.scss";

.w-md {
  max-width: 960px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.pointer { cursor: pointer }

.flex {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex-grow: 1;
}
